.cart_title h3 {
    color: #000000;
    font-size: 20px;
    font-weight: bolder;
    background-color: #F7F7F7;
    padding: 22px;
    margin-bottom: 28px;
}

.cart_card_box {
    padding: 39px 32px;
    background-color: #F7F7F7;
}

.cart_card_items {
    background-color: #FFFFFF;
    padding: 22px;
    border: .15px solid #898989;
    position: relative;
}

.cart_card_items .cart_img {
    background-color: #FFFFFF;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart_card_items .cart_img i {
    color: #1C1B1F;
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
}

.cart_card_items .cart_img .fa.active {
    color: #1C1B1F;
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
}

.cart_card_items .cart_img img {
    width: 150px;
    height: auto;
}

.cart_card_items .counter-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F7F7F7;
    padding: 8px 10px;
    width: fit-content;
    margin-top: 50%;
    transform: translateY(-50%);
}

.cart_card_items .btnn {
    width: 17px;
    height: 17px !important;
    border-radius: 50%;
    background-color: #777777;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    user-select: none;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.cart_card_items .btnn:hover {
    background-color: #1C1B1F;
    color: #FFFFFF;
}

.cart_card_items .btnn:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

.cart_card_items .count {
    font-size: 21px;
    width: 30px;
    text-align: center;
    color: #505050;
    font-weight: bold;

}

.cart_title_dis h3 {
    color: #101010;
    font-size: 17px;
    font-weight: bold;
}

.cart_title_dis p {
    color: #101010;
    font-size: 12px;
    font-weight: 500;
}

.cart_product_prize {
    text-align: end;
    margin-top: 50%;
    transform: translateY(-50%);
}

.cart_product_prize .one_prize {
    color: #101010;
    font-size: 14px;
    font-weight: 300;
}

.cart_product_prize .total_prize {
    color: #101010;
    font-size: 17px;
    font-weight: 900;
}

.card_items_close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

.payment_type .title {
    background-color: #fff;
    text-align: center;
    padding: 15px;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.payment_type .title_main {
    color: #000000;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    padding-top: 22px;
    padding-bottom: 9px;
}

.payment_type .option {
    background-color: #777777;
    color: #FFFFFF;
    padding: 15px;
    border-bottom: 2px solid #f5f5f5;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 10px;
    transition: all 0.3s linear;
    cursor: pointer;
    position: relative;
}

.payment_type .option:hover {
    background-color: #9EBD54;
}

.payment_type .option .c_s_title {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
}

.payment_type .option .c_s_total {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

.payment_type .option small {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 300;
}

.payment_type .option input[type="radio"] {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    accent-color: #000000;
}

.payment_type .option-content {
    flex: 1;
    margin-left: 10%;
}

.payment_type .option strong {
    display: block;
    margin: 5px 0;
    font-size: 16px;
}

.payment_type .option small {
    font-size: 12px;
    opacity: 0.8;
}

.summary_las {
    background-color: #F7F7F7;
}

.cart_right_title h3 {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    background-color: #9EBD54;
    padding: 8px 0;
    width: 100%;
    text-align: center;
}

.order_summary_box .order_summary_title {
    padding: 25px 30px 0px 30px;
}

.order_summary_box .order_summary_title h3 {
    color: #000000;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
}

.order_summary_box .order_summary_list {
    padding: 25px 30px 0px 30px;
}

.order_summary_box .order_summary_list .order_sum_title_prize p {
    color: #101010;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}

.order_summary_box .order_summary_list .order_sum_title_prize span {
    color: #101010;
    font-size: 17px;
    font-weight: 900;
    margin-bottom: 5px;
}

.total_text_and_prize p {
    color: #777777;
    font-size: 15px;
    font-weight: bold;
    padding-left: 10px;
    border-bottom: 1px solid #0000002f;
    padding-bottom: 10px;
}

.total_text_and_prize h3 {
    color: #9EBD54;
    font-size: 30px;
    font-weight: bold;
    padding-left: 10px;
}

.total_text_and_prize button {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    padding: 15px 0px;
    background-color: #777777;
    border: none;
    margin-top: 10px;
    transition: all .3s linear;
}

.total_text_and_prize button:hover {
    background-color: #9EBD54;
}

.cart_s_policy p {
    color: #101010;
    font-size: 12px;
    font-weight: 300;
}

.cart_s_policy a {
    color: #101010;
    font-size: 12px;
    font-weight: 400;
    text-decoration: underline;
}

#favoritePopup {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
    z-index: 1000099999999;
    transform: translate(-50%, -50%);
}

#confirmRemoveFavorite {
    display: block;
    position: fixed;
    top: 50%;
    left: 49%;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
    z-index: 1000099999999;
    transform: translate(-50%, -50%);
}

.popup-content {
    margin-left: 30px;
}

.popup-content h3 {
    font-size: 20px;
    color: #000000;
    font-weight: 800;
    margin-bottom: 0px;
    margin-top: 8px;
}

.popup-content p {
    font-size: 12px;
    color: #000000;
    font-weight: 400;
}

.popup-btn {
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 700;
    width: 100%;
    background-color: #777777;
    display: block;
    padding: 5px 0px;
    transition: all .3s linear;
}

.popup-btn2 {
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 700;
    width: 100%;
    background-color: #D9D9D9;
    display: block;
    padding: 5px 0px;
    transition: all .3s linear;
}

.popup-btn:hover {
    color: #FFFFFF;
    background-color: #9EBD54;
}

.popup-btn2:hover {
    color: #FFFFFF;
    background-color: #9EBD54;
}

/* ======= Single Product Code Page Start  */
.breadcrumb-wrapper {
    background-color: #F7F7F7;
    padding: 15px 20px;
}

.breadcrumb {
    margin: 0;
    background-color: transparent;
    font-size: 14px;
}

.breadcrumb a {
    color: #929292;
    text-decoration: none;
    font-size: 9px;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: ">";
    color: #929292;
    padding: 5.2px 8px;
    font-size: 9px;
}

.breadcrumb-item.active strong {
    color: #101010;
    font-weight: 600;
    font-size: 9px;
}

.single_product_img {

    height: 100%;
}

.single_product_img .single_product_img_list img {
    height: 100%;
    width: 100%;
    object-fit: fill;
    margin: 0px 8px;
}

.single_product_img_list {
    height: 100%;
}

.breadcrumb-wrapper {
    background-color: #f8f8f8;
    padding: 15px 20px;
}

.breadcrumb {
    margin: 0;
    background-color: transparent;
    font-size: 14px;
}

.breadcrumb a {
    color: #999;
    text-decoration: none;
    margin-left: 5px;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: ">";
    color: #ccc;
    padding: 6px 0px;
}

.breadcrumb-item.active strong {
    color: #000;
    font-weight: 600;
    margin-left: 5px;
}

#confirmRemoveFavorite {
    display: flex;
    border: 0.1px solid rgba(0, 0, 0, 0.34);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    background: rgb(255, 255, 255);
    z-index: 99999;
    justify-content: center;
    align-items: center;
}

#confirmRemoveCart {
    display: flex;
    border: 0.1px solid rgba(0, 0, 0, 0.34);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    background: rgb(255, 255, 255);
    z-index: 9999;
    justify-content: center;
    align-items: center;
    padding-bottom: 8px;
}

.popup-card {
    width: 100%;
}

/* Backdrop */
.popup-backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    z-index: 1040;
}

.popup-backdrop.active {
    display: block;
}

/* Popup style */
.popup-overlay {
    position: fixed;
    left: 0;
    right: 0;
    bottom: -100%;
    height: 80%;
    background: #F0F0F0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.2);
    transition: bottom 0.4s ease-in-out;
    z-index: 1050;
    overflow-y: auto;
    padding: 20px;
}

.popup-overlay.active {
    bottom: 0;
}

.popup-handle {
    width: 50px;
    height: 6px;
    background-color: #D9D9D9;
    border-radius: 10px;
    margin: 0 auto 10px;
}

.popup-overlay h5 {
    font: 23px;
    color: #000000;
    font-weight: 700;
}

.popup-backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    z-index: 1040;
}

.popup-backdrop.active {
    display: block;
}

.popup-overlay {
    position: fixed;
    left: 0;
    right: 0;
    bottom: -100%;
    height: 80%;
    background: #F0F0F0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.2);
    transition: bottom 0.4s ease-in-out;
    z-index: 1050;
    overflow-y: auto;
    padding: 20px;
}

.popup-overlay.active {
    bottom: 0;
}

.popup-handle {
    width: 50px;
    height: 6px;
    background-color: #ccc;
    border-radius: 10px;
    margin: 0 auto 10px;
}


/* popup 2   */
.custom-popup-backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    z-index: 1040;
}

.custom-popup-backdrop.active {
    display: block;
}

.custom-popup-overlay {
    position: fixed;
    left: 0;
    right: 0;
    bottom: -100%;
    height: 80%;
    background: #F0F0F0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.2);
    transition: bottom 0.4s ease-in-out;
    z-index: 1050;
    overflow-y: auto;
    padding: 20px;
}

.custom-popup-overlay.active {
    bottom: 0;
}

.custom-popup-handle {
    width: 50px;
    height: 6px;
    background-color: #ccc;
    border-radius: 10px;
    margin: 0 auto 10px;
}

.custom-popup-overlay h5 {
    font-size: 23px;
    color: #000000;
    font-weight: 700;
}

/* ======= Single Product Code Page End */
.size-options {
    display: flex;
    gap: 10px;
}

.size-box {
    position: relative;
    cursor: pointer;
}

.size-box input[type="radio"] {
    display: none;
}

.size-box span {
    display: inline-block;
    text-align: center;
    border: 2px solid #777777;
    border-radius: 6px;
    font-weight: bold;
    background-color: white;
    color: #555;
    transition: 0.2s;
    width: 45px;
    height: 49px;
    padding-top: 10px;
}

.size-box input[type="radio"]:checked+span {
    background-color: #9EBD54;
    /* greenish color */
    border-color: #9EBD54;
    color: white;
}

.enex-container {
    margin: auto;
    text-align: center;
    color: #777777;
    margin-top: 11px;
}

.enex-info {
    font-size: 12px;
    margin-bottom: 15px;
}

.enex-counter {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F7F7F7;
    border-radius: 10px;
    padding: 10px 0;
    margin-bottom: 20px;
    width: 200px;
}

.enex-counter button {
    width: 26px;
    height: 26px !important;
    border-radius: 50%;
    background-color: #777777;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    border: none;
    padding-top: 0px;
}

.enex-counter button:hover {
    background-color: #1C1B1F;
}

.enex-counter span {
    font-size: 32px;
    margin: 0 15px;
    width: 30px;
    display: inline-block;
    text-align: center;
    color: #505050;
    font-weight: 700;
}

.enex-btn {
    background-color: #777777;
    color: #FFFFFF;
    padding: 15px 0;
    border: none;
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
    transition: all .3s linear;
}

.enex-btn:hover {
    background-color: #9EBD54;
}

.enex-flag {
    width: 16px;
    vertical-align: middle;
    margin-left: 4px;
}




/* ========== Desktop View (Tab Style) ========== */
.tab-header {
    display: flex;
    margin-bottom: 24px;
}

.tab-button {
    padding: 0px 10px 15px 5px;
    text-align: center;
    cursor: pointer;
    border-bottom: none;
    transition: background 0.3s;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    margin: 0px 20px;
}

.product_description .accordion {
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
}

.tab-button.active {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 2px solid #000000;
}

.tab-content-box {
    padding: 0px;
    background: transparent;
    display: none;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
}

.tab-content-box b,
strong {
    color: #000000;
    font-size: 14px;
    font-weight: 800;
    line-height: 21px;
}

.accordion-item {
    background-color: transparent;
    border: 0px solid rgba(0, 0, 0, .125);
}

.tab-content-box.active {
    display: block;
}

.single_more_product h3 {
    font-size: 22px;
    color: #000000;
    font-size: 24px;
    font-weight: 900;
    margin-top: 46px;
}

.products_scroll_wrapper p-3 {
    margin-left: 0px;
}

/* ========== Mobile View (Accordion Style) ========== */
@media screen and (max-width: 768px) {
    .tab-header {
        display: none;
    }

    .tab-content-box {
        display: none !important;
    }

    .accordion-item {
        border: 1px solid #ccc;
        margin-bottom: 10px;
        border-radius: 5px;
        overflow: hidden;
    }

    .accordion-title {
        background-color: #f2f2f2;
        padding: 15px;
        cursor: pointer;
        font-weight: bold;
    }

    .accordion-content {
        display: none;
        padding: 15px;
        background-color: #fff;
    }

    .accordion-item.active .accordion-content {
        display: block;
    }
}

.single_product_title h3 {
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 10px;
}

.single_product_title {
    border-bottom: 1px solid #00000038;
}

.single_product_total_prize h3 {
    color: #9EBD54;
    font-size: 32px;
    font-weight: 900;
    border-bottom: 1px solid #00000038;
    padding-bottom: 18px;
    margin-top: 18px;
    margin-bottom: 22px;
}

.product_size .cap_mm p {
    color: #777777;
    font-size: 15px;
    font-weight: 900;
}

.product_size .boy_mm p {
    color: #777777;
    font-size: 15px;
    font-weight: 900;
    margin-top: 22px;
}

.product_description {
    margin-top: 46px;
    background-color: #F0F0F0;
    padding: 32px;
}

.single_product_title i {
    font-size: 20px;
}

.mobile_show {
    display: none;
}

/* ========== 250px to 575.98px  */
@media (min-width: 250px) and (max-width: 767.98px) {
    .cart_card_items .counter-box {
        margin-top: 0%;
        transform: translateY(0%) !important;
    }

    .cart_product_prize {
        margin-top: 40%;
        transform: translateY(0%) !important;
    }

    .cart_card_box {
        padding: 39px 0px !important;
    }

    .cart_card_items .cart_img img {
        width: 130px;
        height: auto;
    }

    .popup-icon img {
        width: 30px;
    }

    #confirmRemoveCart {
        width: 90%;
    }

    .popup-content h3 {
        font-size: 14px;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .popup-content p {
        font-size: 10px;
    }

    .popup-btn {
        font-size: 14px;
    }

    .popup-btn2 {
        font-size: 14px;
    }

    #favoritePopup {
        width: 90%;
    }

    #confirmRemoveFavorite {
        width: 90%;
    }

    .breadcrumb-wrapper {
        background-color: #f8f8f8;
        padding: 10px 8px !important;
    }

    .breadcrumb a {
        color: #999;
        text-decoration: none;
        margin-left: 0px;
    }

    .breadcrumb-item+.breadcrumb-item {
        padding-left: .5rem;
        padding-left: 4px;
    }

    .single_product_img_list {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        gap: 10px;
        -ms-overflow-style: none;
        /* IE & Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    .single_product_img_list::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari, Opera */
    }

    .single_product_img_list img {
        scroll-snap-align: start;
        max-width: 100%;
        height: auto;
        flex-shrink: 0;
    }

    .mobile_hide {
        display: none;
    }

    .mobile_show {
        position: absolute;
        top: 14px;
        right: 10px;
        display: unset;
        font-size: 24px;
        z-index: 99999;
        cursor: pointer;
    }

    .single_product_title h3 {
        width: 55%;
        margin: 10px auto;
        text-align: center;
    }

    .single_product_total_prize h3 {
        text-align: center;
    }

    .product_size .cap_mm p {
        text-align: center;
    }
    .size-options {
	justify-content: center;
}
.product_size .boy_mm p {
	text-align: center;
}
.enex-info {
	text-align: center;
}
.enex-counter {
	padding: 8px 0;
	margin: 0 auto;
}
.enex-btn {
	margin-top: 20px;
}

}